# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [2]:
import pandas as pd
import numpy as np

list_anomalia_termica = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]
list_ano = [1900, 1920, 1940, 1960, 1980, 2000, 2020]

series_anomalia = pd.Series(data = list_anomalia_termica)
print(series_anomalia)

series_ano = pd.Series(data = list_ano)
print(series_ano)

series_ano_e_anomalia = pd.Series(data = list_anomalia_termica, index = list_ano)
print(series_ano_e_anomalia)

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64
0    1900
1    1920
2    1940
3    1960
4    1980
5    2000
6    2020
dtype: int64
1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [4]:
series_ano_e_anomalia = pd.Series(data = list_anomalia_termica, index = list_ano)
print(series_ano_e_anomalia)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [6]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

series_temperaturas = pd.Series(dic_temperaturas)
series_temperaturas

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [8]:
arr = np.random.normal(100, 10, (20,3))

dt_arr = pd.DataFrame(arr)
dt_arr

             0           1           2
0    97.945510  108.711808  127.975327
1    85.742540   88.119430  115.207313
2   100.843502   82.850041   95.105981
3   105.279674  105.562859   89.408288
4   101.284358   97.366745  100.845008
5   105.138699   91.395288  108.783939
6    90.508131   98.571944   92.356062
7    99.289418  114.378213  112.078820
8   101.020634  104.824958   90.660873
9   111.172317  107.282356   84.017232
10   85.526741   99.889108  106.638809
11  114.818438   89.333489   89.612534
12   94.948399  107.026381   98.610055
13  105.129954  113.446392   86.547250
14   99.702217  112.376958   92.145952
15   95.919890   98.063806   79.674286
16  103.530384   92.682994   98.334419
17   92.426400  101.458996   99.945287
18   85.732129  113.917187   96.600222
19   99.079808   92.339555   94.702614

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [10]:
list_index = list(range(1,len(dt_arr)+1))
list_index = list(map(lambda num: 'x'+str(num), list_index))

dt_arrcomindice = pd.DataFrame(data = arr, index = list_index)
dt_arrcomindice

              0           1           2
x1    97.945510  108.711808  127.975327
x2    85.742540   88.119430  115.207313
x3   100.843502   82.850041   95.105981
x4   105.279674  105.562859   89.408288
x5   101.284358   97.366745  100.845008
x6   105.138699   91.395288  108.783939
x7    90.508131   98.571944   92.356062
x8    99.289418  114.378213  112.078820
x9   101.020634  104.824958   90.660873
x10  111.172317  107.282356   84.017232
x11   85.526741   99.889108  106.638809
x12  114.818438   89.333489   89.612534
x13   94.948399  107.026381   98.610055
x14  105.129954  113.446392   86.547250
x15   99.702217  112.376958   92.145952
x16   95.919890   98.063806   79.674286
x17  103.530384   92.682994   98.334419
x18   92.426400  101.458996   99.945287
x19   85.732129  113.917187   96.600222
x20   99.079808   92.339555   94.702614

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [12]:
dt_arrcomindice['media'] = dt_arrcomindice.mean(axis = 1)
dt_arrcomindice

              0           1           2       media
x1    97.945510  108.711808  127.975327  111.544215
x2    85.742540   88.119430  115.207313   96.356428
x3   100.843502   82.850041   95.105981   92.933175
x4   105.279674  105.562859   89.408288  100.083607
x5   101.284358   97.366745  100.845008   99.832037
x6   105.138699   91.395288  108.783939  101.772642
x7    90.508131   98.571944   92.356062   93.812046
x8    99.289418  114.378213  112.078820  108.582150
x9   101.020634  104.824958   90.660873   98.835488
x10  111.172317  107.282356   84.017232  100.823968
x11   85.526741   99.889108  106.638809   97.351553
x12  114.818438   89.333489   89.612534   97.921487
x13   94.948399  107.026381   98.610055  100.194945
x14  105.129954  113.446392   86.547250  101.707865
x15   99.702217  112.376958   92.145952  101.408375
x16   95.919890   98.063806   79.674286   91.219327
x17  103.530384   92.682994   98.334419   98.182599
x18   92.426400  101.458996   99.945287   97.943561
x19   85.732129  113.917187   96.600222   98.749846
x20   99.079808   92.339555   94.702614   95.373992

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [14]:
dt_arrcomindice['log_med'] = np.log(dt_arrcomindice['media'])
dt_arrcomindice

              0           1           2       media   log_med
x1    97.945510  108.711808  127.975327  111.544215  4.714421
x2    85.742540   88.119430  115.207313   96.356428  4.568054
x3   100.843502   82.850041   95.105981   92.933175  4.531881
x4   105.279674  105.562859   89.408288  100.083607  4.606006
x5   101.284358   97.366745  100.845008   99.832037  4.603489
x6   105.138699   91.395288  108.783939  101.772642  4.622741
x7    90.508131   98.571944   92.356062   93.812046  4.541293
x8    99.289418  114.378213  112.078820  108.582150  4.687507
x9   101.020634  104.824958   90.660873   98.835488  4.593457
x10  111.172317  107.282356   84.017232  100.823968  4.613376
x11   85.526741   99.889108  106.638809   97.351553  4.578329
x12  114.818438   89.333489   89.612534   97.921487  4.584166
x13   94.948399  107.026381   98.610055  100.194945  4.607118
x14  105.129954  113.446392   86.547250  101.707865  4.622105
x15   99.702217  112.376958   92.145952  101.408375  4.619156
x16   95.919890   98.063806   79.674286   91.219327  4.513267
x17  103.530384   92.682994   98.334419   98.182599  4.586829
x18   92.426400  101.458996   99.945287   97.943561  4.584391
x19   85.732129  113.917187   96.600222   98.749846  4.592590
x20   99.079808   92.339555   94.702614   95.373992  4.557806